.horizontal {
	margin-top: 20px;
	display: flex;
	gap: 0.5em;
}

.spacer {
	flex: 1;
}

.cardcontent {
	padding: 20px 20px 0 20px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.cardcontent p,
.cardcontent h2,
.cardcontent h3,
.cardcontent ul {
	margin: 0;
}

.aftercard {
	margin-top: 4em;
}
