.root {
	list-style: none;
	display: grid;
	grid-template-columns: 32px 1fr 1fr;
	gap: 16px;
}

.progress {
	flex: 0;
	width: 32px;
	height: 32px;
	margin-top: 16px;
	font-size: 32px;
}

@keyframes rotate {
	from {
		rotate: 0;
	}
	to {
		rotate: 360deg;
	}
}

.spinner {
	animation: rotate 1s infinite linear;
}

@media (prefers-reduced-motion) {
	.spinner {
		animation-duration: 4s;
	}
}

.card {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	padding: 16px;
	background-color: white;
	border: 1px solid #00000040;
	border-radius: 8px;
	box-shadow: 0 4px 4px #00000020;

	line-height: 1;

	animation: show 600ms;
}

@media (prefers-reduced-motion) {
	.card {
		animation: none;
	}
}

@keyframes show {
	from {
		translate: 0 16px;
		opacity: 0;
	}
	to {
		translate: 0 0;
		opacity: 1;
	}
}

.icon {
	position: absolute;
	right: 12px;
	bottom: 12px;
}

.card > * {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.substeps {
	margin: 1em 0;
	padding: 0 0 0 1em;
	list-style-type: disc;
}
