.root {
	list-style: none;
	display: grid;
	grid-template-columns: 32px 1fr;
	gap: 16px;
}

.progress {
	grid-row: 1 / -1;
	display: flex;
	flex-direction: column;
	width: 32px;
	font-size: 32px;
	margin-top: 1px;
}

.progress > *:first-child {
	flex: 0 0 32px;
	height: 32px;
}

.timeline {
	flex: 1;
	width: 4px;
	margin: 2px auto 0 auto;
	background-color: var(--colorNeutralStroke1);
}

.card {
	position: relative;
	animation: show 600ms;
}

@media (prefers-reduced-motion) {
	.card {
		animation: none;
	}
}

@keyframes show {
	from {
		translate: 0 16px;
		opacity: 0;
	}
	to {
		translate: 0 0;
		opacity: 1;
	}
}

.cardcontent {
	padding: 0 0 0 1em;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.betweencards {
	height: 2em;
}

.cardcontent > h2 {
	margin: 0 0 0.25em 0;
}

.substeps {
	padding: 0;
}

.substeps > li {
	list-style-type: disc;
	margin-left: 2em;
}
