.main {
	padding: 1em;
}

.status li {
	margin: 0.5em 0;
}

.outputFile {
	user-select: text;
}

.outputFile pre {
	overflow: auto;
	max-height: 20em;
	tab-size: 4;
}

.horizontal {
	display: flex;
	gap: 0.5em;
}
