*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body,
#root {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
	user-select: none;
}

:root {
	--figma-color-bg: white; /* #f3f7f2; */
	--figma-color-bg-brand: #602872;
	--figma-color-bg-disabled: #7c7c7c;
	--figma-color-bg-onselected: #e6d4ec;
	--figma-color-border: #7c7c7c;
	--figma-color-border-brand-strong: #602872;
	--figma-color-border-disabled-strong: rgba(0, 0, 0, 0.3);
	--figma-color-border-selected: #9458a8;
	--figma-color-icon: black;
	--figma-color-text: black;
	--figma-color-text-brand: #844699;
	--figma-color-text-disabled: rgba(0, 0, 0, 0.3);
	--figma-color-text-onbrand: white;
	--figma-color-text-ondisabled: white;
}

body {
	display: flex;
	flex-direction: column;
	font-family: Inter, system-ui, sans-serif;
	font-size: 15px;
	line-height: 1.3333; /* (20px / 16px) */
	background-color: var(--figma-color-bg, #ffffff);
	background-image: linear-gradient(to bottom right, #ecf8d0, #fbfef6 40%, #fbfdfe 60%, #e0ecf5);
	background-attachment: fixed;
	color: var(--figma-color-text, rgba(0, 0, 0, 0.9));
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 20px 0;
}

h1 {
	font-size: 64px;
	font-weight: 300;
	letter-spacing: -0.04em;
	color: var(--figma-color-text-brand, #844699);
}

h2 {
	font-size: 24px;
	font-weight: 600;
}

h3 {
	font-size: 20px;
	font-weight: 600;
}

h4,
h5,
h6 {
	font-size: 18px;
	font-weight: normal;
}

a,
a:visited {
	color: var(--figma-color-text-brand, #007be5);
	text-decoration: none;
}

a:hover,
a:focus-visible {
	text-decoration: underline;
}

b,
strong {
	font-weight: 600;
}

*:focus {
	outline: none;
}

img,
svg {
	border: none;
	page-break-inside: avoid;
	vertical-align: baseline;
}

button {
	border-radius: 0;
	border-width: 0;
}

input,
button,
textarea,
select,
option,
optgroup {
	font: inherit;
}
