button.outline,
button.accent {
	height: 32px;
	line-height: 30px;
	max-width: 200px;
	padding: 0 11px;

	background-color: transparent;
	border-radius: 6px;
	border: 1px solid var(--figma-color-border-strong, #2c2c2c);

	color: var(--figma-color-text, rgba(0, 0, 0, 0.9));
	font: inherit;
	text-align: center;

	cursor: default;
	user-select: none;
}

.contents {
	display: flex;
	gap: 0.5em;
}

button.outline:focus-visible {
	border-color: var(--figma-color-border-brand-strong, #0d99ff);
	outline: 1px solid var(--figma-color-border-brand-strong, #0d99ff);
	outline-offset: -2px;
}

button.outline:disabled {
	border-color: var(--figma-color-border-disabled-strong, rgba(0, 0, 0, 0.3));
	color: var(--figma-color-text-disabled, rgba(0, 0, 0, 0.3));
}

button.accent {
	background-color: var(--figma-color-bg-brand, #0d99ff);
	border-color: transparent;

	color: var(--figma-color-text-onbrand, white);
	font-weight: 500;
}

button.accent:focus-visible {
	outline: 1px solid var(--figma-color-border-onbrand-strong, white);
	outline-offset: -3px;
}

button.accent:disabled {
	background-color: var(--figma-color-bg-disabled, #d9d9d9);
	color: var(--figma-color-text-ondisabled, #ffffff);
}
